{% extends 'layout.html' %}

{% block body %}

{% include "quizApp/modal.html" %}

<div class="container mt-3">
    <div class="row">
        <div class="col">
            {% if not user.is_anonymous %}
            <span>
                You are logged in as
                <strong>{{ user }}</strong>
            </span>
            <a href="{% url 'logout' %}" id="logout-btn" class="btn btn-danger" role="button">Log out</a>
            <form action="{% url 'question_list' %}">
                {% csrf_token %}
                <button id="start" class="btn btn-primary" type="submit" name="start_button">
                    {% if continue_button %}
                    Continue
                    {% else %}
                    Start
                    {% endif %}
                </button>
            </form>
            {% else %}
            <button id="login-btn" class="btn btn-primary" type="button" name="button">Log in</button>
            or
            <button id="signup-btn" class="btn btn-primary" type="button" name="button">Sign up</button>
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}

{% block extrascripts %}

<script type="text/javascript">
    $(function () {
        $("#login-btn").modalForm({
            formURL: "{% url 'login' %}"
        });

        $("#signup-btn").modalForm({
            formURL: "{% url 'signup' %}"
        });
    });
</script>
{% endblock extrascripts %}